{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

		<link rel="stylesheet" href="{% static 'css/blahapp.css' %}">
	</head>

	<body>
		<div class="page-header">
			<a href="{% url 'cat_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<h1><a href="/">Blah App</a></h1>
			<p>A test django app I am using to test Jenkins</p>
		</div>

		<div class="content container">
			<div class="row">
				<div class="col-md-8">
				{% block content %}
				{% endblock %}
				</div>
			</div>
		</ul>
	<body>
</html>
